@tailwind base;
@tailwind components;
@tailwind utilities;

.all-tasks::-webkit-scrollbar {
  width: 5px;
}

.all-tasks::-webkit-scrollbar-thumb {
  background-color: #347652;
  border-radius: 20px;
}